extend layout

block content
  .container
    h1 PSE Companies
    p
      a#add.btn.btn-default(href="/companies/add") Add new
    table.table
      thead
        tr
          th Company Name
          th Stock Symbol
          th Sector
          th Subsector
          th Listing Date
          th Current CEO
      tbody
        if !companies.length
          tr
            td(colspan=4) Add Company
        else
          each company in companies
            tr
              td
                a(href='/companies/'+company._id) #{company.company_name}
              td 
                a(href="/company/#{company._id}") #{company.stock_symbol}
              td 
                a(href="/company/#{company._id}") #{company.sector}
              td 
                a(href="/company/#{company._id}") #{company.subsector}
              td 
                a(href="/company/#{company._id}") #{company.listing_date}
              td 
                a(href="/company/#{company._id}") #{company.current_CEO}
    